:root {
  --body-textblack: rgba(33, 36, 39, 1);
  --desktop-headings-XXXL-font-family: "CiutadellaRounded-Medium", Helvetica;
  --desktop-headings-XXXL-font-weight: 500;
  --desktop-headings-XXXL-font-size: 69px;
  --desktop-headings-XXXL-letter-spacing: 0px;
  --desktop-headings-XXXL-line-height: 75px;
  --desktop-headings-XXXL-font-style: normal;
  --desktop-headings-XXXL-semibold-font-family: "CiutadellaRounded-SemiBold", Helvetica;
  --desktop-headings-XXXL-semibold-font-weight: 600;
  --desktop-headings-XXXL-semibold-font-size: 69px;
  --desktop-headings-XXXL-semibold-letter-spacing: 0px;
  --desktop-headings-XXXL-semibold-line-height: 75px;
  --desktop-headings-XXXL-semibold-font-style: normal;
  --desktop-headings-XXL-font-family: "CiutadellaRounded-Medium", Helvetica;
  --desktop-headings-XXL-font-weight: 500;
  --desktop-headings-XXL-font-size: 55px;
  --desktop-headings-XXL-letter-spacing: 0px;
  --desktop-headings-XXL-line-height: 60px;
  --desktop-headings-XXL-font-style: normal;
  --desktop-headings-XL-font-family: "CiutadellaRounded-Medium", Helvetica;
  --desktop-headings-XL-font-weight: 500;
  --desktop-headings-XL-font-size: 44px;
  --desktop-headings-XL-letter-spacing: 0px;
  --desktop-headings-XL-line-height: 48px;
  --desktop-headings-XL-font-style: normal;
  --desktop-headings-l-font-family: "CiutadellaRounded-Medium", Helvetica;
  --desktop-headings-l-font-weight: 500;
  --desktop-headings-l-font-size: 35px;
  --desktop-headings-l-letter-spacing: 0px;
  --desktop-headings-l-line-height: 38px;
  --desktop-headings-l-font-style: normal;
  --desktop-headings-m-font-family: "CiutadellaRounded-Medium", Helvetica;
  --desktop-headings-m-font-weight: 500;
  --desktop-headings-m-font-size: 28px;
  --desktop-headings-m-letter-spacing: 0px;
  --desktop-headings-m-line-height: 30px;
  --desktop-headings-m-font-style: normal;
  --desktop-headings-m-bold-font-family: "CiutadellaRounded-Bold", Helvetica;
  --desktop-headings-m-bold-font-weight: 700;
  --desktop-headings-m-bold-font-size: 28px;
  --desktop-headings-m-bold-letter-spacing: 0px;
  --desktop-headings-m-bold-line-height: 30px;
  --desktop-headings-m-bold-font-style: normal;
  --desktop-headings-s-font-family: "CiutadellaRounded-Medium", Helvetica;
  --desktop-headings-s-font-weight: 500;
  --desktop-headings-s-font-size: 20px;
  --desktop-headings-s-letter-spacing: 0px;
  --desktop-headings-s-line-height: 24px;
  --desktop-headings-s-font-style: normal;
  --mobile-headings-XXXL-font-family: "CiutadellaRounded-Medium", Helvetica;
  --mobile-headings-XXXL-font-weight: 500;
  --mobile-headings-XXXL-font-size: 54px;
  --mobile-headings-XXXL-letter-spacing: 0px;
  --mobile-headings-XXXL-line-height: 60px;
  --mobile-headings-XXXL-font-style: normal;
  --mobile-headings-XXXL-semibold-font-family: "CiutadellaRounded-SemiBold", Helvetica;
  --mobile-headings-XXXL-semibold-font-weight: 600;
  --mobile-headings-XXXL-semibold-font-size: 54px;
  --mobile-headings-XXXL-semibold-letter-spacing: 0px;
  --mobile-headings-XXXL-semibold-line-height: 60px;
  --mobile-headings-XXXL-semibold-font-style: normal;
  --mobile-headings-XXL-font-family: "CiutadellaRounded-Medium", Helvetica;
  --mobile-headings-XXL-font-weight: 500;
  --mobile-headings-XXL-font-size: 45px;
  --mobile-headings-XXL-letter-spacing: 0px;
  --mobile-headings-XXL-line-height: 49px;
  --mobile-headings-XXL-font-style: normal;
  --mobile-headings-XXL-semibold-font-family: "CiutadellaRounded-Bold", Helvetica;
  --mobile-headings-XXL-semibold-font-weight: 700;
  --mobile-headings-XXL-semibold-font-size: 54px;
  --mobile-headings-XXL-semibold-letter-spacing: 0px;
  --mobile-headings-XXL-semibold-line-height: 60px;
  --mobile-headings-XXL-semibold-font-style: normal;
  --mobile-headings-XL-font-family: "CiutadellaRounded-Medium", Helvetica;
  --mobile-headings-XL-font-weight: 500;
  --mobile-headings-XL-font-size: 37px;
  --mobile-headings-XL-letter-spacing: 0px;
  --mobile-headings-XL-line-height: 40px;
  --mobile-headings-XL-font-style: normal;
  --mobile-headings-l-font-family: "CiutadellaRounded-Medium", Helvetica;
  --mobile-headings-l-font-weight: 500;
  --mobile-headings-l-font-size: 31px;
  --mobile-headings-l-letter-spacing: 0px;
  --mobile-headings-l-line-height: 34px;
  --mobile-headings-l-font-style: normal;
  --mobile-headings-m-font-family: "CiutadellaRounded-Medium", Helvetica;
  --mobile-headings-m-font-weight: 500;
  --mobile-headings-m-font-size: 26px;
  --mobile-headings-m-letter-spacing: 0px;
  --mobile-headings-m-line-height: 28px;
  --mobile-headings-m-font-style: normal;
  --mobile-headings-m-bold-font-family: "CiutadellaRounded-Bold", Helvetica;
  --mobile-headings-m-bold-font-weight: 700;
  --mobile-headings-m-bold-font-size: 26px;
  --mobile-headings-m-bold-letter-spacing: 0px;
  --mobile-headings-m-bold-line-height: 28px;
  --mobile-headings-m-bold-font-style: normal;
  --mobile-headings-s-font-family: "CiutadellaRounded-Medium", Helvetica;
  --mobile-headings-s-font-weight: 500;
  --mobile-headings-s-font-size: 20px;
  --mobile-headings-s-letter-spacing: 0px;
  --mobile-headings-s-line-height: 24px;
  --mobile-headings-s-font-style: normal;
  --paragraph-body-font-family: "OpenSans-Regular", Helvetica;
  --paragraph-body-font-weight: 400;
  --paragraph-body-font-size: 16px;
  --paragraph-body-letter-spacing: 0px;
  --paragraph-body-line-height: 22px;
  --paragraph-body-font-style: normal;
  --paragraph-body-bold-font-family: "OpenSans-SemiBold", Helvetica;
  --paragraph-body-bold-font-weight: 600;
  --paragraph-body-bold-font-size: 16px;
  --paragraph-body-bold-letter-spacing: 0px;
  --paragraph-body-bold-line-height: 22px;
  --paragraph-body-bold-font-style: normal;
  --paragraph-body-strikethrough-font-family: "OpenSans-Regular", Helvetica;
  --paragraph-body-strikethrough-font-weight: 400;
  --paragraph-body-strikethrough-font-size: 16px;
  --paragraph-body-strikethrough-letter-spacing: 0px;
  --paragraph-body-strikethrough-line-height: 22px;
  --paragraph-body-strikethrough-font-style: normal;
  --paragraph-subtitle-font-family: "OpenSans-Regular", Helvetica;
  --paragraph-subtitle-font-weight: 400;
  --paragraph-subtitle-font-size: 14px;
  --paragraph-subtitle-letter-spacing: 0px;
  --paragraph-subtitle-line-height: 20px;
  --paragraph-subtitle-font-style: normal;
  --paragraph-subtitle-bold-font-family: "OpenSans-SemiBold", Helvetica;
  --paragraph-subtitle-bold-font-weight: 600;
  --paragraph-subtitle-bold-font-size: 14px;
  --paragraph-subtitle-bold-letter-spacing: 0px;
  --paragraph-subtitle-bold-line-height: 20px;
  --paragraph-subtitle-bold-font-style: normal;
  --paragraph-subtitle-strikethrough-font-family: "OpenSans-Regular", Helvetica;
  --paragraph-subtitle-strikethrough-font-weight: 400;
  --paragraph-subtitle-strikethrough-font-size: 14px;
  --paragraph-subtitle-strikethrough-letter-spacing: 0px;
  --paragraph-subtitle-strikethrough-line-height: 20px;
  --paragraph-subtitle-strikethrough-font-style: normal;
  --paragraph-OVERLINE-font-family: "OpenSans-SemiBold", Helvetica;
  --paragraph-OVERLINE-font-weight: 600;
  --paragraph-OVERLINE-font-size: 14px;
  --paragraph-OVERLINE-letter-spacing: 0px;
  --paragraph-OVERLINE-line-height: 16px;
  --paragraph-OVERLINE-font-style: normal;
  --interactive-body-link-bold-font-family: "OpenSans-Bold", Helvetica;
  --interactive-body-link-bold-font-weight: 700;
  --interactive-body-link-bold-font-size: 16px;
  --interactive-body-link-bold-letter-spacing: 0px;
  --interactive-body-link-bold-line-height: 22px;
  --interactive-body-link-bold-font-style: normal;
  --interactive-body-link-font-family: "OpenSans-SemiBold", Helvetica;
  --interactive-body-link-font-weight: 600;
  --interactive-body-link-font-size: 16px;
  --interactive-body-link-letter-spacing: 0px;
  --interactive-body-link-line-height: 22px;
  --interactive-body-link-font-style: normal;
  --interactive-subtitle-link-font-family: "OpenSans-SemiBold", Helvetica;
  --interactive-subtitle-link-font-weight: 600;
  --interactive-subtitle-link-font-size: 14px;
  --interactive-subtitle-link-letter-spacing: 0px;
  --interactive-subtitle-link-line-height: 20px;
  --interactive-subtitle-link-font-style: normal;
  --interactive-button-font-family: "CiutadellaRounded-SemiBold", Helvetica;
  --interactive-button-font-weight: 600;
  --interactive-button-font-size: 17px;
  --interactive-button-letter-spacing: 0px;
  --interactive-button-line-height: 20px;
  --interactive-button-font-style: normal;
  --elevation-XS: 0px 0px 16px -2px rgba(15, 23, 42, 0.11);
  --elevation-SM: 0px 0px 12px 0px rgba(15, 23, 42, 0.11);
  --elevation-MD: 0px 0px 18px 0px rgba(15, 23, 42, 0.15);
  --elevation-LG: 0px 0px 37px 0px rgba(15, 23, 42, 0.21);
  --elevation-XL: 0px 0px 56px 0px rgba(15, 23, 42, 0.29);
  --elevation-flipped: 0px -3px 12px 0px rgba(15, 23, 42, 0.11);
  --interactive-primary: 0px 0px 0px 2px rgba(82, 35, 103, 0.48);
  --interactive-neutral: 0px 0px 0px 2px rgba(210, 220, 234, 0.48);
  --core-theme-brand-purple-100: rgba(233, 220, 245, 1);
  --core-theme-brand-purple-300: rgba(205, 189, 220, 1);
  --core-theme-brand-purple-500: rgba(105, 63, 124, 1);
  --core-theme-brand-purple-700: rgba(82, 35, 103, 1);
  --core-theme-brand-violet-100: rgba(246, 242, 255, 1);
  --core-theme-brand-violet-300: rgba(224, 219, 237, 1);
  --core-theme-secondary-orange-500: rgba(239, 125, 10, 1);
  --core-theme-brand-violet-500: rgba(121, 102, 170, 1);
  --core-theme-secondary-orange-900: rgba(202, 79, 12, 1);
  --core-theme-brand-violet-700: rgba(102, 80, 156, 1);
  --core-theme-secondary-teal-300: rgba(212, 231, 244, 1);
  --core-theme-secondary-teal-500: rgba(42, 171, 187, 1);
  --core-theme-secondary-teal-700: rgba(10, 167, 173, 1);
  --core-theme-secondary-teal-900: rgba(0, 96, 119, 1);
  --core-theme-neutral-50: rgba(255, 255, 255, 1);
  --core-theme-neutral-100: rgba(247, 246, 246, 1);
  --core-theme-neutral-200: rgba(237, 238, 238, 1);
  --core-theme-neutral-300: rgba(219, 221, 221, 1);
  --core-theme-neutral-400: rgba(190, 195, 195, 1);
  --core-theme-neutral-500: rgba(153, 155, 158, 1);
  --core-theme-neutral-600: rgba(113, 115, 118, 1);
  --core-theme-neutral-700: rgba(77, 81, 84, 1);
  --core-theme-transparent-light-300: rgba(255, 255, 255, 0.08);
  --core-theme-transparent-light-500: rgba(255, 255, 255, 0.24);
  --core-theme-transparent-grey-300: rgba(190, 195, 195, 0.08);
  --core-theme-transparent-grey-500: rgba(190, 195, 195, 0.24);
  --core-theme-transparent-light-700: rgba(255, 255, 255, 0.8);
  --core-theme-transparent-dark-500: rgba(36, 33, 38, 0.56);
  --core-theme-transparent-dark-700: rgba(36, 33, 38, 0.8);
  --core-theme-feedback-blue-100: rgba(237, 242, 255, 1);
  --core-theme-feedback-blue-300: rgba(211, 224, 254, 1);
  --core-theme-feedback-blue-500: rgba(17, 115, 213, 1);
  --core-theme-feedback-blue-700: rgba(1, 63, 123, 1);
  --core-theme-feedback-green-300: rgba(232, 247, 233, 1);
  --core-theme-feedback-green-500: rgba(150, 219, 150, 1);
  --core-theme-feedback-green-700: rgba(0, 130, 5, 1);
  --core-theme-feedback-orange-300: rgba(255, 240, 233, 1);
  --core-theme-feedback-orange-500: rgba(251, 182, 143, 1);
  --core-theme-feedback-orange-700: rgba(176, 69, 11, 1);
  --core-theme-feedback-red-300: rgba(255, 239, 239, 1);
  --core-theme-feedback-red-500: rgba(211, 55, 50, 1);
  --core-theme-feedback-red-700: rgba(170, 5, 0, 1);
  --core-theme-neutral-800: rgba(42, 42, 42, 1);
  --core-theme-neutral-900: rgba(36, 33, 38, 1);
  --semantic-colours-surface-neutral-option-1: var(--core-theme-neutral-100);
  --semantic-colours-surface-neutral-option-2: var(--core-theme-neutral-50);
  --semantic-colours-surface-neutral-option-3: var(--core-theme-neutral-200);
  --semantic-colours-surface-neutral-option-4: var(--core-theme-neutral-300);
  --semantic-colours-surface-active: var(--core-theme-neutral-200);
  --semantic-colours-surface-disabled: var(--core-theme-neutral-200);
  --semantic-colours-surface-info: var(--core-theme-feedback-blue-300);
  --semantic-colours-surface-positive: var(--core-theme-feedback-green-300);
  --semantic-colours-surface-warning: var(--core-theme-feedback-orange-300);
  --semantic-colours-surface-critical: var(--core-theme-feedback-red-300);
  --semantic-colours-surface-promo: var(--core-theme-feedback-red-300);
  --semantic-colours-surface-select: var(--core-theme-feedback-blue-100);
  --semantic-colours-surface-accent-1-subtle: var(--core-theme-brand-purple-100);
  --semantic-colours-surface-accent-1-strong: var(--core-theme-brand-purple-300);
  --semantic-colours-surface-accent-2: var(--core-theme-secondary-teal-300);
  --semantic-colours-surface-accent-3: var(--core-theme-feedback-blue-100);
  --semantic-colours-surface-accent-4: var(--core-theme-brand-violet-100);
  --semantic-colours-text-functional: var(--core-theme-neutral-900);
  --semantic-colours-text-functional-subtle: var(--core-theme-neutral-700);
  --semantic-colours-text-title: var(--core-theme-neutral-900);
  --semantic-colours-text-body: var(--core-theme-neutral-700);
  --semantic-colours-text-placeholder: var(--core-theme-neutral-600);
  --semantic-colours-text-disabled: var(--core-theme-neutral-500);
  --semantic-colours-text-on-primary: var(--core-theme-neutral-50);
  --semantic-colours-text-info: var(--core-theme-feedback-blue-700);
  --semantic-colours-text-positive: var(--core-theme-feedback-green-700);
  --semantic-colours-text-warning: var(--core-theme-feedback-orange-700);
  --semantic-colours-text-critical: var(--core-theme-feedback-red-700);
  --semantic-colours-border-default: var(--core-theme-neutral-400);
  --semantic-colours-border-subdued: var(--core-theme-neutral-300);
  --semantic-colours-border-strong: var(--core-theme-neutral-900);
  --semantic-colours-border-disabled: var(--core-theme-neutral-400);
  --semantic-colours-border-info: var(--core-theme-feedback-blue-500);
  --semantic-colours-border-positive: var(--core-theme-feedback-green-500);
  --semantic-colours-border-warning: var(--core-theme-feedback-orange-500);
  --semantic-colours-border-critical: var(--core-theme-feedback-red-500);
  --semantic-colours-border-select: var(--core-theme-feedback-blue-500);
  --semantic-colours-border-accent-1: var(--core-theme-brand-purple-700);
  --semantic-colours-border-accent-2: var(--core-theme-secondary-teal-900);
  --semantic-colours-border-accent-4: var(--core-theme-brand-violet-500);
  --semantic-colours-icon-default: var(--core-theme-neutral-900);
  --semantic-colours-icon-subdued: var(--core-theme-neutral-700);
  --semantic-colours-icon-disabled: var(--core-theme-neutral-500);
  --semantic-colours-icon-on-primary: var(--core-theme-neutral-50);
  --semantic-colours-interactive-primary-default: var(--core-theme-secondary-orange-900);
  --semantic-colours-icon-info: var(--core-theme-feedback-blue-500);
  --semantic-colours-icon-positive: var(--core-theme-feedback-green-700);
  --semantic-colours-interactive-primary-hovered: var(--core-theme-secondary-orange-500);
  --semantic-colours-icon-warning: var(--core-theme-feedback-orange-700);
  --semantic-colours-interactive-primary-pressed: var(--core-theme-secondary-orange-500);
  --semantic-colours-icon-critical: var(--core-theme-feedback-red-500);
  --semantic-colours-interactive-secondary-default: var(--core-theme-brand-purple-700);
  --semantic-colours-interactive-secondary-hovered: var(--core-theme-brand-purple-700);
  --semantic-colours-interactive-secondary-pressed: var(--core-theme-brand-purple-700);
  --semantic-colours-interactive-action-hovered: var(--core-theme-transparent-grey-300);
  --semantic-colours-interactive-action-pressed: var(--core-theme-transparent-grey-500);
  --semantic-colours-interactive-focus-default: var(--core-theme-feedback-blue-500);
  --semantic-colours-interactive-overlay-default: var(--core-theme-transparent-dark-500);
  --semantic-colours-interactive-overlay-image: var(--core-theme-transparent-light-700);
  --semantic-colours-text-select: var(--core-theme-feedback-blue-500);
  --semantic-colours-icon-accent-1: var(--core-theme-brand-purple-700);
  --semantic-colours-icon-accent-2: var(--core-theme-secondary-teal-900);
  --semantic-colours-icon-accent-3: var(--core-theme-feedback-blue-500);
  --semantic-colours-icon-accent-4: var(--core-theme-brand-violet-500);
  --semantic-colours-text-accent-1: var(--core-theme-brand-purple-700);
  --semantic-colours-text-accent-2: var(--core-theme-secondary-teal-900);
  --semantic-colours-icon-duotone-1: var(--core-theme-brand-purple-100);
  --semantic-colours-icon-duotone-2: var(--core-theme-secondary-teal-300);
  --semantic-colours-text-accent-4: var(--core-theme-brand-violet-500);
  --grid-system-grid-system-space-025: 2px;
  --grid-system-grid-system-space-050: 4px;
  --grid-system-grid-system-space-075: 6px;
  --grid-system-grid-system-space-100: 8px;
  --grid-system-grid-system-space-150: 12px;
  --grid-system-grid-system-space-200: 16px;
  --grid-system-grid-system-space-300: 24px;
  --grid-system-grid-system-space-400: 32px;
  --grid-system-grid-system-space-500: 40px;
  --grid-system-grid-system-space-600: 48px;
  --grid-system-grid-system-space-700: 56px;
  --grid-system-grid-system-space-800: 64px;
  --grid-system-grid-system-space-900: 72px;
  --grid-system-grid-system-space-1000: 80px;
  --grid-system-grid-system-space-1200: 96px;
  --grid-system-grid-system-space-1500: 120px;
  --spacing-spacing-XXS: var(--grid-system-grid-system-space-050);
  --spacing-spacing-XS: var(--grid-system-grid-system-space-100);
  --spacing-spacing-s: var(--grid-system-grid-system-space-150);
  --spacing-spacing-m: var(--grid-system-grid-system-space-200);
  --spacing-spacing-l: var(--grid-system-grid-system-space-300);
  --spacing-spacing-XL: var(--grid-system-grid-system-space-400);
  --spacing-spacing-XXL: var(--grid-system-grid-system-space-600);
  --spacing-spacing-XXXL: var(--grid-system-grid-system-space-700);
  --spacing-spacing-4xl: var(--grid-system-grid-system-space-800);
  --spacing-spacing-5xl: var(--grid-system-grid-system-space-1000);
  --spacing-spacing-6xl: var(--grid-system-grid-system-space-1500);
  --spacing-size-XS: var(--grid-system-grid-system-space-200);
  --spacing-size-s: var(--grid-system-grid-system-space-300);
  --spacing-size-m: var(--grid-system-grid-system-space-400);
  --spacing-size-l: var(--grid-system-grid-system-space-500);
  --spacing-size-XL: var(--grid-system-grid-system-space-600);
  --spacing-size-XXL: var(--grid-system-grid-system-space-700);
  --spacing-radius-s: var(--grid-system-grid-system-space-050);
  --spacing-radius-m: var(--grid-system-grid-system-space-075);
  --spacing-radius-lg: var(--grid-system-grid-system-space-100);
  --spacing-radius-XL: var(--grid-system-grid-system-space-150);
  --spacing-radius-pill: var(--grid-system-grid-system-space-1000);
  --layout-margin: var(--grid-system-grid-system-space-1500);
  --layout-gutter: var(--grid-system-grid-system-space-300);
  --layout-vertical-padding: var(--grid-system-grid-system-space-800);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-semantic-colours-mode="default">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-semantic-colours-mode="default"] {
  --semantic-colours-surface-neutral-option-1: var(--core-theme-neutral-100);
  --semantic-colours-surface-neutral-option-2: var(--core-theme-neutral-50);
  --semantic-colours-surface-neutral-option-3: var(--core-theme-neutral-200);
  --semantic-colours-surface-neutral-option-4: var(--core-theme-neutral-300);
  --semantic-colours-surface-active: var(--core-theme-neutral-200);
  --semantic-colours-surface-disabled: var(--core-theme-neutral-200);
  --semantic-colours-surface-info: var(--core-theme-feedback-blue-300);
  --semantic-colours-surface-positive: var(--core-theme-feedback-green-300);
  --semantic-colours-surface-warning: var(--core-theme-feedback-orange-300);
  --semantic-colours-surface-critical: var(--core-theme-feedback-red-300);
  --semantic-colours-surface-promo: var(--core-theme-feedback-red-300);
  --semantic-colours-surface-accent-1-subtle: var(--core-theme-brand-purple-100);
  --semantic-colours-surface-accent-1-strong: var(--core-theme-brand-purple-300);
  --semantic-colours-surface-accent-2: var(--core-theme-secondary-teal-300);
  --semantic-colours-surface-accent-3: var(--core-theme-feedback-blue-100);
  --semantic-colours-surface-accent-4: var(--core-theme-brand-violet-100);
  --semantic-colours-text-functional: var(--core-theme-neutral-900);
  --semantic-colours-text-functional-subtle: var(--core-theme-neutral-700);
  --semantic-colours-text-title: var(--core-theme-neutral-900);
  --semantic-colours-text-body: var(--core-theme-neutral-700);
  --semantic-colours-text-placeholder: var(--core-theme-neutral-600);
  --semantic-colours-text-info: var(--core-theme-feedback-blue-700);
  --semantic-colours-text-positive: var(--core-theme-feedback-green-700);
  --semantic-colours-text-warning: var(--core-theme-feedback-orange-700);
  --semantic-colours-text-critical: var(--core-theme-feedback-red-700);
  --semantic-colours-border-default: var(--core-theme-neutral-400);
  --semantic-colours-border-subdued: var(--core-theme-neutral-300);
  --semantic-colours-border-strong: var(--core-theme-neutral-900);
  --semantic-colours-border-disabled: var(--core-theme-neutral-400);
  --semantic-colours-border-info: var(--core-theme-feedback-blue-500);
  --semantic-colours-border-positive: var(--core-theme-feedback-green-500);
  --semantic-colours-border-warning: var(--core-theme-feedback-orange-500);
  --semantic-colours-border-critical: var(--core-theme-feedback-red-500);
  --semantic-colours-border-accent-1: var(--core-theme-brand-purple-700);
  --semantic-colours-border-accent-2: var(--core-theme-secondary-teal-900);
  --semantic-colours-border-accent-4: var(--core-theme-brand-violet-500);
  --semantic-colours-icon-default: var(--core-theme-neutral-900);
  --semantic-colours-icon-subdued: var(--core-theme-neutral-700);
  --semantic-colours-icon-positive: var(--core-theme-feedback-green-700);
  --semantic-colours-icon-warning: var(--core-theme-feedback-orange-700);
  --semantic-colours-interactive-secondary-default: var(--core-theme-brand-purple-700);
  --semantic-colours-interactive-secondary-hovered: var(--core-theme-brand-purple-700);
  --semantic-colours-interactive-secondary-pressed: var(--core-theme-brand-purple-700);
  --semantic-colours-interactive-action-hovered: var(--core-theme-transparent-grey-300);
  --semantic-colours-interactive-action-pressed: var(--core-theme-transparent-grey-500);
  --semantic-colours-interactive-overlay-image: var(--core-theme-transparent-light-700);
  --semantic-colours-icon-accent-1: var(--core-theme-brand-purple-700);
  --semantic-colours-icon-accent-2: var(--core-theme-secondary-teal-900);
  --semantic-colours-icon-accent-3: var(--core-theme-feedback-blue-500);
  --semantic-colours-icon-accent-4: var(--core-theme-brand-violet-500);
  --semantic-colours-text-accent-1: var(--core-theme-brand-purple-700);
  --semantic-colours-text-accent-2: var(--core-theme-secondary-teal-900);
  --semantic-colours-text-accent-4: var(--core-theme-brand-violet-500);
}

[data-semantic-colours-mode="inverse"] {
  --semantic-colours-surface-neutral-option-1: var(--core-theme-neutral-800);
  --semantic-colours-surface-neutral-option-2: var(--core-theme-neutral-900);
  --semantic-colours-surface-neutral-option-3: var(--core-theme-neutral-700);
  --semantic-colours-surface-neutral-option-4: var(--core-theme-neutral-600);
  --semantic-colours-surface-active: var(--core-theme-neutral-700);
  --semantic-colours-surface-disabled: var(--core-theme-neutral-700);
  --semantic-colours-surface-info: var(--core-theme-feedback-blue-700);
  --semantic-colours-surface-positive: var(--core-theme-feedback-green-700);
  --semantic-colours-surface-warning: var(--core-theme-feedback-orange-700);
  --semantic-colours-surface-critical: var(--core-theme-feedback-red-700);
  --semantic-colours-surface-promo: var(--core-theme-feedback-red-500);
  --semantic-colours-surface-accent-1-subtle: var(--core-theme-brand-purple-500);
  --semantic-colours-surface-accent-1-strong: var(--core-theme-brand-purple-700);
  --semantic-colours-surface-accent-2: var(--core-theme-secondary-teal-900);
  --semantic-colours-surface-accent-3: var(--core-theme-feedback-blue-500);
  --semantic-colours-surface-accent-4: var(--core-theme-brand-violet-700);
  --semantic-colours-text-functional: var(--core-theme-neutral-50);
  --semantic-colours-text-functional-subtle: var(--core-theme-neutral-200);
  --semantic-colours-text-title: var(--core-theme-neutral-50);
  --semantic-colours-text-body: var(--core-theme-neutral-200);
  --semantic-colours-text-placeholder: var(--core-theme-neutral-300);
  --semantic-colours-text-info: var(--core-theme-feedback-blue-300);
  --semantic-colours-text-positive: var(--core-theme-feedback-green-300);
  --semantic-colours-text-warning: var(--core-theme-feedback-orange-300);
  --semantic-colours-text-critical: var(--core-theme-feedback-red-300);
  --semantic-colours-border-default: var(--core-theme-neutral-600);
  --semantic-colours-border-subdued: var(--core-theme-neutral-700);
  --semantic-colours-border-strong: var(--core-theme-neutral-50);
  --semantic-colours-border-disabled: var(--core-theme-neutral-600);
  --semantic-colours-border-info: var(--core-theme-feedback-blue-300);
  --semantic-colours-border-positive: var(--core-theme-feedback-green-700);
  --semantic-colours-border-warning: var(--core-theme-feedback-orange-700);
  --semantic-colours-border-critical: var(--core-theme-feedback-red-700);
  --semantic-colours-border-accent-1: var(--core-theme-brand-purple-300);
  --semantic-colours-border-accent-2: var(--core-theme-secondary-teal-500);
  --semantic-colours-border-accent-4: var(--core-theme-brand-violet-300);
  --semantic-colours-icon-default: var(--core-theme-neutral-50);
  --semantic-colours-icon-subdued: var(--core-theme-neutral-200);
  --semantic-colours-icon-positive: var(--core-theme-feedback-green-500);
  --semantic-colours-icon-warning: var(--core-theme-feedback-orange-500);
  --semantic-colours-interactive-secondary-default: var(--core-theme-neutral-50);
  --semantic-colours-interactive-secondary-hovered: var(--core-theme-neutral-200);
  --semantic-colours-interactive-secondary-pressed: var(--core-theme-neutral-400);
  --semantic-colours-interactive-action-hovered: var(--core-theme-transparent-light-300);
  --semantic-colours-interactive-action-pressed: var(--core-theme-transparent-light-500);
  --semantic-colours-interactive-overlay-image: var(--core-theme-transparent-dark-700);
  --semantic-colours-icon-accent-1: var(--core-theme-brand-purple-300);
  --semantic-colours-icon-accent-2: var(--core-theme-secondary-teal-500);
  --semantic-colours-icon-accent-3: var(--core-theme-feedback-blue-300);
  --semantic-colours-icon-accent-4: var(--core-theme-brand-violet-300);
  --semantic-colours-text-accent-1: var(--core-theme-brand-purple-300);
  --semantic-colours-text-accent-2: var(--core-theme-secondary-teal-500);
  --semantic-colours-text-accent-4: var(--core-theme-brand-violet-300);
}

[data-spacing-mode="comfortable"] {
  --spacing-spacing-XXS: var(--grid-system-grid-system-space-050);
  --spacing-spacing-XS: var(--grid-system-grid-system-space-100);
  --spacing-spacing-s: var(--grid-system-grid-system-space-150);
  --spacing-spacing-m: var(--grid-system-grid-system-space-200);
  --spacing-spacing-l: var(--grid-system-grid-system-space-300);
  --spacing-spacing-XL: var(--grid-system-grid-system-space-400);
  --spacing-spacing-XXL: var(--grid-system-grid-system-space-600);
  --spacing-spacing-XXXL: var(--grid-system-grid-system-space-700);
  --spacing-spacing-4xl: var(--grid-system-grid-system-space-800);
  --spacing-spacing-5xl: var(--grid-system-grid-system-space-1000);
  --spacing-spacing-6xl: var(--grid-system-grid-system-space-1500);
  --spacing-size-XS: var(--grid-system-grid-system-space-200);
  --spacing-size-s: var(--grid-system-grid-system-space-300);
  --spacing-size-m: var(--grid-system-grid-system-space-400);
  --spacing-size-l: var(--grid-system-grid-system-space-500);
  --spacing-size-XL: var(--grid-system-grid-system-space-600);
}

[data-spacing-mode="compact"] {
  --spacing-spacing-XXS: var(--grid-system-grid-system-space-025);
  --spacing-spacing-XS: var(--grid-system-grid-system-space-050);
  --spacing-spacing-s: var(--grid-system-grid-system-space-100);
  --spacing-spacing-m: var(--grid-system-grid-system-space-150);
  --spacing-spacing-l: var(--grid-system-grid-system-space-200);
  --spacing-spacing-XL: var(--grid-system-grid-system-space-300);
  --spacing-spacing-XXL: var(--grid-system-grid-system-space-500);
  --spacing-spacing-XXXL: var(--grid-system-grid-system-space-600);
  --spacing-spacing-4xl: var(--grid-system-grid-system-space-700);
  --spacing-spacing-5xl: var(--grid-system-grid-system-space-800);
  --spacing-spacing-6xl: var(--grid-system-grid-system-space-1200);
  --spacing-size-XS: var(--grid-system-grid-system-space-150);
  --spacing-size-s: var(--grid-system-grid-system-space-200);
  --spacing-size-m: var(--grid-system-grid-system-space-300);
  --spacing-size-l: var(--grid-system-grid-system-space-400);
  --spacing-size-XL: var(--grid-system-grid-system-space-500);
}

[data-layout-mode="large-desktop"] {
  --layout-margin: var(--grid-system-grid-system-space-1500);
  --layout-gutter: var(--grid-system-grid-system-space-300);
  --layout-vertical-padding: var(--grid-system-grid-system-space-800);
}

[data-layout-mode="small-desktop"] {
  --layout-margin: var(--grid-system-grid-system-space-900);
  --layout-gutter: var(--grid-system-grid-system-space-300);
  --layout-vertical-padding: var(--grid-system-grid-system-space-800);
}

[data-layout-mode="tablet"] {
  --layout-margin: var(--grid-system-grid-system-space-600);
  --layout-gutter: var(--grid-system-grid-system-space-200);
  --layout-vertical-padding: var(--grid-system-grid-system-space-600);
}

[data-layout-mode="mobile"] {
  --layout-margin: var(--grid-system-grid-system-space-300);
  --layout-gutter: var(--grid-system-grid-system-space-200);
  --layout-vertical-padding: var(--grid-system-grid-system-space-600);
}
